In [2]:
import torch
import torchvision
import os
import pandas as pd
from skimage import io
from fastprogress import master_bar, progress_bar
import numpy as np
from sklearn.metrics import roc_auc_score
from skimage.transform import resize
import sys
from albumentations import Compose, Flip, ToGray, HorizontalFlip, RandomContrast, Equalize

DEVICE = "cuda" if torch.cuda.is_available() else "cpu"
torch.__version__, DEVICE

('1.10.0', 'cuda')

In [2]:
PATH = 'data'
os.listdir(PATH)

['all.txt', 'PATCHES', 'train.csv', 'validation.csv']

In [3]:
data = pd.read_csv(f'{PATH}/all.txt', sep=" ", header=None)
data[0] = "data/PATCHES/" + data[0]
data[:1].head()

                                                   0  1
0  data/PATCHES/RAINY/2016-02-12/camera7/R_2016-0...  1

In [7]:
total_n, train_n, test_n = len(data), int(len(data) * 0.5 / 4) , int(len(data) * 0.55 / 4)
train_n, test_n

(18120, 19932)

In [19]:
data[:train_n].to_csv(f'{PATH}/train.csv', index=False)
data[train_n:test_n].to_csv(f'{PATH}/validation.csv', index=False)
data[test_n:test_n + 10000].to_csv(f'{PATH}/test.csv', index=False)

In [20]:
train = pd.read_csv(f'{PATH}/train.csv')
val = pd.read_csv(f'{PATH}/validation.csv')
test = pd.read_csv(f'{PATH}/test.csv')

train.shape, val.shape, test.shape

((18120, 2), (1812, 2), (10000, 2))

In [14]:
train

       Unnamed: 0                                                  0  1
0               0  data/PATCHES/RAINY/2016-02-12/camera7/R_2016-0...  1
1               1  data/PATCHES/SUNNY/2016-01-15/camera7/S_2016-0...  1
2               2  data/PATCHES/OVERCAST/2015-12-03/camera1/O_201...  1
3               3  data/PATCHES/OVERCAST/2015-12-19/camera1/O_201...  0
4               4  data/PATCHES/SUNNY/2016-01-18/camera6/S_2016-0...  1
...           ...                                                ... ..
18115       18115  data/PATCHES/RAINY/2015-11-21/camera7/R_2015-1...  0
18116       18116  data/PATCHES/OVERCAST/2015-11-25/camera9/O_201...  1
18117       18117  data/PATCHES/RAINY/2016-02-12/camera6/R_2016-0...  0
18118       18118  data/PATCHES/SUNNY/2015-11-12/camera1/S_2015-1...  0
18119       18119  data/PATCHES/OVERCAST/2015-12-18/camera8/O_201...  1

[18120 rows x 3 columns]